
// Panels
// -------------------

// Overrides: atom/static/panels.less

.panel-heading {
  background-color: @panel-heading-background-color;
}

.inset-panel {
  background-color: @inset-panel-background-color;
	border-radius: 0;
  .panel-heading {
    background-color: lighten(@inset-panel-background-color, 4%);
  }
}


.atom-dock-toggle-button .atom-dock-toggle-button-inner {
	background: @secondary-color--dark-2;
	color: @background-color-error;
}
